<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Data.Services" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.7.0" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net451" />
  <package id="MongoDB.Bson" version="2.1.1" targetFramework="net451" />
  <package id="MongoDB.Driver" version="2.1.1" targetFramework="net451" />
  <package id="MongoDB.Driver.Core" version="2.1.1" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net4" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net4" />
  <package id="Simple.Data.OData" version="2.0.0.2" targetFramework="net451" />
  <package id="Simple.OData.Client" version="3.0.0" targetFramework="net451" />
  <package id="System.Spatial" version="5.7.0" targetFramework="net451" />
</packages>