<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net4" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net4" />
  <package id="Microsoft.Data.Services" version="5.6.4" targetFramework="net4" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net4" />
  <package id="mongocsharpdriver" version="1.9.2" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net4" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net4" />
  <package id="Simple.Data.OData" version="1.0.0.1" targetFramework="net4" />
  <package id="Simple.OData.Client" version="1.1.2" targetFramework="net4" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net4" />
</packages>