<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MongOData" type="Mongo.Context.MongoConfiguration, Mongo.Context" />
  </configSections>
  <connectionStrings configSource="ConnectionStrings.config" />
  <MongOData>
    <metadataBuildStrategy>
      <prefetchRows>82</prefetchRows>
      <updateDynamically>false</updateDynamically>
      <persistSchema>false</persistSchema>
    </metadataBuildStrategy>
  </MongOData>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
